<div id="sobre" class="container py-5">
    <div class="row mt-5 pt-5">
        <div class="col-11 col-xl-8 mx-auto">
            <p class="about">
                Nesta casa cheia de história, vamos acrescentar mais uma.<br> História essa que me envolve, uma saboeira, nascida e criada na Vila de Belver, e por isso mesmo, sou com orgulho filha desta terra.<br> Preservando e homenageando as pessoas
                que edificaram este espaço, o Sr. António Seara e o Sr. Giorgio Formica, que reconstruiu esta belíssima casa, com o seu toque pessoal, que se vê em cada canto e recanto.<br> De uma fábrica de alpargatas e papel de tabaco, que pertenceu
                ao Sr. António Seara, tomou outro rumo, pelas mãos do Sr. Giorgio Formica e família, numa casa onde foram recebidas muitas pessoas, e bem recebidas.<br> A serenidade do espaço e toda a sua envolvência natural é de extrema beleza, que aconselhamos
                vivamente a experienciar.<br> Estamos de coração e braços abertos para vos receber.<br> Venham fazer parte da nossa história.<br> Esperamos que quem por aqui passar, leve aquilo que procurou ao escolher este lugar.
            </p>
            <p class="text-end about">Com Gratidão,<br><b>A Saboeira</b></p>
        </div>
    </div>
</div>