<div id="galeria" class="container mt-5 position-relative">
    <div class="row">

        <div align="center">
            <button class="filter-button active" data-filter="category1">Envolvência</button>
            <button class="filter-button" data-filter="category2">Comida</button>
            <button class="filter-button" data-filter="category3">'Lifestyle'</button>
        </div>

        <br/>

        <div class="gallery_product col-sm-4 col-xs-6 filter category2" style="display: none;">
            <img loading="lazy" class="img-responsive" alt="" src="/img/food/1.jpg" />
        </div>

        <div class="gallery_product col-sm-4 col-xs-6 filter category1">
            <img loading=" lazy " class="img-responsive " alt=" " src="/img/wilderness/1.jpg " />
        </div>

        <div class="gallery_product col-sm-4 col-xs-6 filter category3" style="display: none;">
            <img loading="lazy " class="img-responsive " alt=" " src="/img/lifestyle/1.jpg " />
        </div>

        <div class="gallery_product col-sm-4 col-xs-6 filter category2" style="display: none;">
            <img loading="lazy " class="img-responsive " alt=" " src="/img/food/2.jpg" />
        </div>

        <div class="gallery_product col-sm-4 col-xs-6 filter category1">
            <img loading=" lazy " class="img-responsive " alt=" " src="/img/wilderness/2.jpg" />
        </div>

        <div class="gallery_product col-sm-4 col-xs-6 filter category3 " style="display: none;">
            <img loading="lazy " class="img-responsive " alt=" " src="/img/lifestyle/2.jpg" />
        </div>

        <div class="gallery_product col-sm-4 col-xs-6 filter category1">
            <img loading=" lazy " class="img-responsive " alt=" " src="/img/wilderness/4.jpg" />
        </div>

        <div class="gallery_product col-sm-4 col-xs-6 filter category2" style="display: none;">
            <img loading="lazy " class="img-responsive " alt=" " src="/img/food/3.jpg" />
        </div>

        <div class="gallery_product col-sm-4 col-xs-6 filter category3" style="display: none;">
            <img loading="lazy " class="img-responsive " alt=" " src="/img/lifestyle/3.jpg" />
        </div>

        <div class="gallery_product col-sm-4 col-xs-6 filter category1">
            <img loading=" lazy " class="img-responsive " alt=" " src="/img/wilderness/3.jpg " />
        </div>

        <div class="gallery_product col-sm-4 col-xs-6 filter category3" style="display: none;">
            <img loading="lazy " class="img-responsive " alt=" " src="/img/lifestyle/4.jpg " />
        </div>

        <div class="gallery_product col-sm-4 col-xs-6 filter category1">
            <img loading=" lazy " class="img-responsive " alt=" " src="/img/wilderness/5.jpg " />
        </div>

        <div class="gallery_product col-sm-4 col-xs-6 filter category3" style="display: none;">
            <img loading="lazy " class="img-responsive " alt=" " src="/img/lifestyle/5.jpg " />
        </div>

    </div>
</div>