<!-- DESKTOP NAVBAR -->
<div class="container position-absolute start-50 translate-middle-x nav py-4 desktop">
    <div class="row w-100">

        <!-- TITLE -->
        <div class="col-3">
            <div class="navbar-title">
                <a href="#">
                    <h3>A Saboeira</h3>
                    <h4>Turismo Rural</h4>
                </a>
            </div>
        </div>
        <!-- TITLE -->


        <!-- SPACER -->
        <div class="col"></div>
        <!-- SPACER -->


        <!-- LINKS -->
        <div class="col links">
            <div class="row d-flex align-content-center">

                <div class="col">
                    <a href="#galeria" class="px-3">
                        <h5>GALERIA</h5>
                    </a>
                </div>
                <div class="col">
                    <a href="#quartos" class="px-3">
                        <h5>QUARTOS</h5>
                    </a>
                </div>
                <div class="col">
                    <a href="#contactos" class="px-3">
                        <h5>CONTACTOS</h5>
                    </a>
                </div>
                <div class="col">
                    <a href="#sobre" class="px-3">
                        <h5>SOBRE</h5>
                    </a>
                </div>

            </div>
        </div>
        <!-- LINKS -->

    </div>
</div>
<!-- DESKTOP NAVBAR -->






<!-- MOBILE NAVBAR -->
<div class="position-absolute start-50 top-50 translate-middle nav mobile">
    <div class="row vw-100">

        <!-- TITLE -->
        <div class="col">
            <div class="navbar-title">
                <a href="#">
                    <h3>A Saboeira</h3>
                    <h4>Turismo Rural</h4>
                </a>
            </div>
        </div>
        <!-- TITLE -->



        <!-- LINKS -->
        <div class="col">
            <div class="navbar-links">
                <a href="#galeria">
                    <h5>GALERIA</h5>
                </a>
                <a href="#quartos">
                    <h5>QUARTOS</h5>
                </a>
                <a chref="#contactos">
                    <h5>CONTACTOS</h5>
                </a>
                <a href="#sobre">
                    <h5>SOBRE</h5>
                </a>
            </div>
        </div>
        <!-- LINKS -->

    </div>
</div>
<!-- MOBILE NAVBAR -->